/*NULLIFY by http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/**************************************************************\
|**************************************************************|
|*****************************MISC*****************************|
|**************************************************************|
\**************************************************************/
body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed5e5e+0,af2230+100,af2230+101 */
background: #ed5e5e; /* Old browsers */
background: -moz-linear-gradient(top,  #ed5e5e 0%, #af2230 100%, #af2230 101%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ed5e5e 0%,#af2230 100%,#af2230 101%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ed5e5e 0%,#af2230 100%,#af2230 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed5e5e', endColorstr='#af2230',GradientType=0 ); /* IE6-9 */

font-family: "bebas-neue";
/*font-family: "bebas-neue";*/

font-family: "bebas-neue";
/*font-family: "bebas-neue";*/

color: #fff;
font-size: 1em;

}
.container{
	display: grid;
	grid-template-columns: 150px 1fr 1fr 150px;
    grid-template-rows: 75px 160px 60px auto 20px;
    grid-template-areas: 
    "header header header header" 
    ". prog prog ."
    ". tabs . ."
    "left main1 main2 right"
    ". . . .";
    height: 100vh;
}
/***********************Shadows************************/
.shadow{
	/*text-shadow: 6px 3px 5px #222;*/
	box-shadow: 4px 4px 4px #222;
}
img.shadow{
	text-shadow: none;
	box-shadow: none;
	filter: drop-shadow(4px 4px 4px #222);
}
/***************************Headers***************************/
h2{
	font-size: 1.6em;
}
.hidden{
	display: none;
}
/**************************************************************\
|**************************************************************|
|****************************HEADER****************************|
|**************************************************************|
\**************************************************************/
header{
	grid-area: header;
	position: relative;
	text-align: center;
}

#burger:active {
    color: red;
}

#burger {
    position: absolute;
	left: 0;
	top: 0;
    padding: 22px 32px;
    cursor: pointer;
    /*z-index: 999;*/
}


#meny{
	position: absolute;
	left: -385px;
	top: 0;
	bottom: 0;
	width: 360px;
	background: #2F2D51;
	z-index: 190;
	transition: left 0.4s;
}



#meny.visabale{
	left: 0px;
}
.progretion{
	grid-area: prog;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	align-items: center;
}

.progretion img{
    width: 70%;
}


/*hamburger meny*/
#meny {
	padding-top: 100px;
	padding-left: 20px;
}

#meny>nav {
	margin-top: 70px;
	margin-bottom: 40px; 
}

#meny>nav>h3 {
	font-size: 35px;
	padding-top: 15px;
}

input[type=search] {
	width: 280px;
	margin-top: 30px;
	padding: 12px 20px;
	border-radius: 18px;
	box-sizing: border-box;
}


/**************************************************************\
|**************************************************************|
|*****************************MAIN*****************************|
|**************************************************************|
\**************************************************************/
.tabs{
	grid-area: tabs;
	align-self: end;
	/*Horizontal list*/
	display: grid;
	grid-template-columns: repeat(5, 1fr 20px);
	grid-template-rows: 50px;
	/*justify-items: stretch;*/
}
.tabs li{
	padding: 5px 10px;
	display: block;
	justify-self: stretch;
	align-self: stretch;
	text-align: center;
	line-height: 44px;
	font-size: 20px;
	text-decoration: none;
	color:#fff;
	cursor: pointer;
	border-radius: 0 24px 0 0; 
	
}

.tabs li:nth-child(1){
	background: rgb(83, 156, 236);
	grid-column: 1 /3;
	grid-row:1;
	z-index: 5;
	
}
.tabs li:nth-child(2){
	background: rgb(82, 124, 191);
	grid-column: 2 /5;
	grid-row:1;
	z-index: 4;
}
.tabs li:nth-child(3){
	background: rgb(81,92,146);
	grid-column: 4 /7;
	grid-row:1;
	z-index: 3;
}
.tabs li:nth-child(4){
	background: rgb(80,60,101);
	grid-column: 6 /9;
	grid-row:1;
	z-index: 2;
}
.tabs li:nth-child(5){
	background: rgb(79,28,56);
	grid-column: 8 /11;
	grid-row:1;
	z-index: 1;
}
.tabs li.active{
	border-radius: 23px 23px 0 0;
	z-index: 10;
}
main{
	z-index: 100;
	box-sizing: border-box;
	padding: 10px;
	min-height: 500px;
	overflow-y: auto;
}
main.left{
	grid-area: main1;
	background: rgb(83, 156, 236);
	
}
main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

main::-webkit-scrollbar
{
	width: 14px;
    height: 18px;
	background-color: #F5F5F5;
}

main::-webkit-scrollbar-thumb
{
	height: 6px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
main::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
main.right{
	grid-area: main2;
	background: rgb(81, 81, 229);
	
}


/**************************************************************\
|**************************************************************|
|****************************ASIDES****************************|
|**************************************************************|
\**************************************************************/
.aside{
	align-self: center;
	justify-self: center;
	font-size: 100px;
}
.right-arrow{
	grid-area: right;
}
.left-arrow{
	grid-area: left;
}

button {
    background-color: #b5b5b5;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 11px 14px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: helvetica;
    cursor: pointer;
}

button:active {
  background-color: #8a8686;
}

.activeButton {
  background-color: #af2230; 
}
    
.resultatInner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.resultatInner {
    width: 20%;
    height: 20%;
    text-align: center;
    padding: 2%;
    display: inline-block;
}

.resultatInner h3{
    font-family: helvetica;
    font-size: small;
}
