/*@media screen and (min-device-width: 800px) {
    .container{
    /*	display: grid;
    	grid-template-columns: 150px 1fr 1fr 150px;
        grid-template-rows: 1fr 2fr 1fr auto 1fr; 
        grid-template-rows: 15% 35px 15% auto 1%;
        grid-template-areas: 
        "header header header ." 
        ". tabs . ."
        ". main1 main2 ."
        "left main1 main2 right"
        ". . footer footer";
        height: 100vh;
    }
}*/